! special
*.foreground:   #93a1a1
*.background:   #001c24
*.cursorColor:  #93a1a1

! black
*.color0:       #002b36
*.color8:       #657b83

! ! red
*.color1:       #dc322f
*.color9:       #dc322f
!
! ! green
*.color2:       #859900
*.color10:      #859900
!
! ! yellow
*.color3:       #b58900
*.color11:      #b58900
!
! ! blue
*.color4:       #268bd2
*.color12:      #268bd2
!
! ! magenta
*.color5:       #6c71c4
*.color13:      #6c71c4
!
! ! cyan
*.color6:       #2aa198
*.color14:      #2aa198
!
! ! white
*.color7:       #93a1a1
*.color15:      #fdf6e3
!

URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color
Urxvt*buffered: false
URxvt.intensityStyles: false
URxvt.font:	xft:Anka/Coder:pixelsize=18, \
		xft:FuraMono Nerd Font:size=13, \
		xft:Monofur Nerd Font:pixelsize=18
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: white
URxvt.perl-ext-common:  default,matcher,clipboard,resize-font,...
!to copy-paste on primary and clipboard!
URxvt.clipboard.autocopy: true
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:paste

!for clickable links
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

Xcursor.size: 25
