! special
*.foreground:   #ffffff
*.background:   #20142c
*.cursorColor:  #ffffff

! black
*.color0:       #5a7260
*.color8:       #8da691

! red
*.color1:       #8f423c
*.color9:       #eeaa88

! green
*.color2:       #bbbb88
*.color10:      #ccc68d

! yellow
*.color3:       #f9d25b
*.color11:      #eedd99

! blue
*.color4:       #e0ba69
*.color12:      #c9b957

! magenta
*.color5:       #709289
*.color13:      #ffcbab

! cyan
*.color6:       #d13516
*.color14:      #c25431

! white
*.color7:       #efe2e0
*.color15:      #f9f1ed

URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color
Urxvt*buffered: false
URxvt*skipBuiltinGlyphs: true
URxvt.intensityStyles: false
URxvt.font:	xft:Anka/Coder:pixelsize=18, \
		xft:FuraMono Nerd Font:size=13, \
		xft:Monofur Nerd Font:pixelsize=18 \
		xft:Noto Emoji:minspace=False \
		xft:joypixels:minspace=False
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
URxvt.letterSpace: 0
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: green
URxvt.perl-ext-common:  default,matcher,resize-font

!to copy-paste on primary and clipboard! nees clipboard pearl extention
!URxvt.clipboard.autocopy: true
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:paste

!for clickable links
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

URxvt*scrollTtyOutput:      false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyKeypress:    true

Xcursor.size: 25
