! special
*.foreground:   #a2a2a2
*.background:   #281919
*.cursorColor:  #a2a2a2

! black
*.color0:       #555555
*.color8:       #888888

! red
*.color1:       #9c3528
*.color9:       #d64937

! green
*.color2:       #61bc3b
*.color10:      #86df5d

! yellow
*.color3:       #f3b43a
*.color11:      #fdd75a

! blue
*.color4:       #0d68a8
*.color12:      #0f75bd

! magenta
*.color5:       #744560
*.color13:      #9e5e83

! cyan
*.color6:       #288e9c
*.color14:      #37c3d6

! white
*.color7:       #a2a2a2
*.color15:      #f9f9f9

URxvt*imLocale: en_US.UTF-8
URxvt*termName: rxvt-unicode-256color
Urxvt*buffered: false
URxvt*skipBuiltinGlyphs: true
URxvt.intensityStyles: false
URxvt.font:	xft:Anka/Coder:pixelsize=18, \
		xft:FuraMono Nerd Font:size=13, \
		xft:Monofur Nerd Font:pixelsize=18 \
		xft:Symbola:minspace=False \
		xft:Noto Emoji:minspace=False
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
URxvt.letterSpace: 0
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: green
URxvt.perl-ext-common:  default,matcher,resize-font

!to copy-paste on primary and clipboard! nees clipboard pearl extention
!URxvt.clipboard.autocopy: true
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:paste

!for clickable links
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

Xcursor.size: 25
